.main {
    width: 80%;
  
    background-color: rgba(0, 0, 0, 0.451);
    padding-top:50px;
    overflow-x: hidden;
    padding-bottom: 70px;
   position: absolute;
    z-index: -1;
    right: 0;
}

.main h3 {
    text-align: center;
}

.main h4 {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
}

.sub {
    width: 80%;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(38, 37, 37);
    padding-bottom: 20px;
    padding-top: 20px;
   
}

.sub1 {

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    background-color: white;
    margin-top: 15px;
}

.main h5 {
    text-align: center;
    font-size: 25px;
    padding-top: 70px;
}

.main .sub2 {
    width: 90%;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.sub2 .sub4 {

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    background-color: white;
    margin-top: 15px;
}