
.main{
    width: 80%;
    position: fixed;
    right: 0;
    height: 60px;
    background-color: rgb(136, 132, 132);
}

.sub{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color:  white;
    padding-top: 20px;
}