.main {
    width: 80%;
    height: 100vh;
    background: linear-gradient(to right, rgb(78, 78, 79), rgb(57, 56, 57));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    right: 0;
}

.suc {
    width: 30%;
    position: absolute;
    z-index: 1;
    border: 1px solid white;
    background-color: rgb(7, 235, 7);
    padding: 20px 15px;
    border-radius: 10px;

}

.suc p {
    color: rgb(250, 250, 250);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn2 {
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
}

.mt {
    width: 25%;
    position: absolute;
    z-index: 1;

    background-color: red;
    border: 1px solid rgb(246, 245, 243);
    padding: 15px;
    border-radius: 10px;


}

.mt p {
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.mt .btn2 {
    padding: 3px;
    border-radius: 5px;
}

.sub {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;


}

.sub h3 {
    color: white;
}

.sub1 {
    margin-top: 20px;

}

.sub1 input {
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    color: black;

}

.sub .btn1 {
    padding: 10px;
    border-radius: 5px;
}