.main {
    width: 80%;
    height: 100vh;
    background-color: rgb(160, 159, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    right: 0;

}

.sub {

    width: 30%;
    padding: 20px;
    box-shadow: 0 0 5px black;
    background-color: white;
    border-radius: 10px;
}