.main{
    width: 80%;
    height: 60px;
    position: fixed;
    right: 0;
    background-color: rgb(72, 71, 71);
}
    
.sub{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    color: white;
    font-weight: 600;
}