.main {
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: gray;
}


.main h3 {
    padding: 20px;
}

.sect1 {
    padding: 20px;
}

.sect1 p {
    padding: 5px;
    width: 60%;
}

.sect1 p .lin {
    color: black;
    text-decoration: none;
    text-transform: capitalize;

}

.sect1 p:hover {
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}

.sect1 p .lin:hover {
    color: white;
}