
.main{
    width: 80%;
    height: 100vh;
    background-color: rgba(16, 16, 16, 0.8);
   position: absolute;
   right: 0;
   z-index: -1;
   padding-top: 100px;
}

.sect1{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sect1di1{
    border: 1px solid white;
    border-radius: 10px;
    width: 25%;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.sect1di1 p:nth-child(1){
     color: white;
     font-weight: 600;
     font-size: 20px;
}

.sect1di1 p:nth-child(2){
     color: white;
     font-weight: 500;
     margin-top: 6px;
}

.sect1di2{
    border: 1px solid white;
    border-radius: 10px;
    width: 25%;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.sect1di2 p:nth-child(1){
     color: white;
     font-weight: 600;
     font-size: 20px;
}

.sect1di2 p:nth-child(2){
     color: white;
     font-weight: 500;
     margin-top: 6px;
}

.sect1di3{
    border: 1px solid white;
    border-radius: 10px;
    width: 25%;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.sect1di3 p:nth-child(1){
     color: white;
     font-weight: 600;
     font-size: 20px;
}

.sect1di3 p:nth-child(2){
     color: white;
     font-weight: 500;
     margin-top: 6px;
}