* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;

}

.main h2 {
    padding: 20px;
}

.sect1 {
    padding-top: 30px;
    padding-left: 30px;
}

.sect1 p {
    padding: 10px;
    width: 75%;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 15px;
}

.sect1 p .lin {
    text-decoration: none;
    color: black;
}

.sect1 p:hover {
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    padding: 10px;
}

.sect1 p .lin:hover{
    color: white;
    font-weight: 600;
}