.main {
    width: 80%;
    height: 100vh;
    background-color: gray;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-top: 60px;
   
}

h1{
    text-transform: capitalize;
    text-align: center;
}